header {
    display: flex;
    padding: 35px;
}

.header__home-icon {
    width: 37px;
    height: 45px;
}

.header__logo {
    width: 105px;
    height: 53px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 52px;
    color: #58A9A5;
    margin-left: 10px;
}

.navigation-list__item {
    margin-left: auto;
}

.header__navigation-list {
    display: flex;
    width: 660px;
    margin-left: 150px;
}

.header__navigation-list>li {
    height: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #404242;
    margin-top: auto;
    margin-bottom: auto;
    width: 160px;

}

.header__navigation-list>li {
    height: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #404242;
    margin-top: auto;
    margin-bottom: auto;
    width: 160px;

}

.header__navigation-list>li>p {
    margin: auto;

}

.header__navigation-list>li:hover {
    color: #58A9A5;
    cursor: pointer;
    font-weight: 800;
}

.header__login-button {
    margin-left: auto;
    width: 200px;
    height: 60px;
    background: #58A9A5;
    border-radius: 15px;
    border: none;
}

.header__navigation-list>li:hover::after {
    transform: scaleX(1);
}

.header__navigation-list>li::after {
    content: '';
    margin-left: auto;
    margin-right: auto;
    left: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: #FEC62D;
    border-radius: 360px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__login-button>p {
    width: max-content;
    height: max-content;
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
}

.section-hero__text {
    width: 674px;
    height: 315px;
    left: 166px;
    top: 318px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
}

.section-hero__inforvation-text {
    width: 743px;
    height: 180px;
    left: 166px;
    top: 683px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;

    color: #404242;
}